.first {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #daf1db, #61cf67);
    width: 20em;
    height: 7em;
    margin-bottom: 2em;
    box-shadow: 5px 5px #000000;
}

.second {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom, #daf1db, #61cf67);
    width: 20em;
    height: 7em;
    margin-bottom: 2em;
    box-shadow: 5px 5px #000000;
}

.third {
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom, #daf1db, #61cf67);
    width: 20em;
    height: 7em;
    margin-bottom: 2em;
    box-shadow: 5px 5px #000000;
}

