body {
    background-color: #a9ee98;
}


table {
    width: 25em;
    height: fit-content;
    border-collapse: collapse;
    border-color: blue;
    border-style: solid;
    box-shadow: 2px 2px 2px 2px #000;

}

td {
    border: 1px solid #000;
    padding: 0.8em;
    text-align: center;
}

thead {
    color: red;
    font-weight: bold;
}

tfoot {
    color: blue;
}

#totalall {
    border-right: none;
}

#totalsum {
    border-left: none;
}